@media screen and (min-width: 1045px) {
  #d-smart {
    display: none !important;
  }
}

@media screen and (max-width: 1045px) {
  #d-desk {
    display: none !important;
  }
}

@keyframes slide-in-rigth-to-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-in-rigth-to-left {
  animation: slide-in-rigth-to-left 5s;
}

@keyframes slide-in-left-to-rigth {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-in-left-to-rigth {
  animation: slide-in-left-to-rigth 5s;
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

a {
  text-decoration: none;
  color: #1295d2;
}

a:hover {
  color: #74b8d8;
}

.align-left {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.title {
  flex-grow: 10;
  color: var(--text-reverse);
  text-overflow: show;
}

#block-penguin {
  display: block !important;
}

.pointer {
  cursor: pointer;
}
